 .mobile-menu {
     padding: 0.5rem 1rem;
     background: $dark-blue;
     color: #ffffff;
 }

 .menu-icon {
     height: 2rem;
 }

 .contact-details {
     a {
         color: $med-grey;
         text-decoration: none;
         font-size: $s2;
     }
 }