.page-header {

    color: #fff;
    padding: 1.75rem 0 0.5rem 0;
    background: url(../img/header.svg) center/cover;

}

.avatar {
    min-width: 125px;
    width: 30%;
}

.my-name {
    font-size: $h3;
}

.tagline {
    opacity: 0.25;

}

.options {
    margin: 2rem 0;

    :nth-child(n) {
        margin: 0 auto 0.25rem;
        min-width: 200px;
        display: block;
    }
}

.build-pipeline {
    opacity: 0.45;
    font-weight: 100;
    font-family: $copy;


    img {
        height: 1.42rem;
        margin: 0 0.45rem;
    }

    p {
        font-size: $s3;
    }

}

@media (min-width:550px) {
    .page-header {

        padding-bottom: 1.5rem;

    }

    .avatar {
        max-width: 198px;

    }


    .options {
        margin-bottom: 3rem;

        :nth-child(n) {
            display: inline;
            margin: 0 0.5rem;
            max-width: 180px;

        }
    }
}