/* 
   -- Default Site Colours --
*/

$dark-blue: #353541;
$med-blue:#889ea8;
$lite-blue:#32bec7;


$dark-grey:#686868;
$med-grey:#b8b8bd;
$lite-grey: #fefefe;



$airbnb:#fb6470;

/* 
    Default Colours 
*/